@font-face {
font-family: "DM Sans";
  src: url('@/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
font-family: "DM Sans";
  src: url('@/assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url('src/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {

  /* =========================
     Fluid Font Sizes
     ========================= */

  --font-size-display: 6rem; 
  --font-size-h1: 3.25rem;   
  --font-size-heading-sm: clamp(1.375rem, 3vw, 1.575rem);
  

  --font-size-body-lg: clamp(1.75rem, 4vw, 2rem);     
  --font-size-body-md: clamp(1.125rem, 3vw, 1.25rem); 
  --font-size-body-sm: clamp(1rem, 2.5vw, 1.125rem);  

  --font-size-caption: 1rem;                           
  --font-size-caption-sm: clamp(0.75rem, 1vw, 0.875rem); 

  /* =========================
     Line Heights
     ========================= */

  --line-height-display: 1;  
  --line-height-h1: 1.2;
  --line-height-heading-sm: 1.2;
  --line-height-body-lg: 1.2;
  --line-height-body-md: 1.2;
  --line-height-body-sm: 1.2;
  --line-height-caption: 1.2;

  /* =========================
     Letter Spacing
     ========================= */

  --letter-spacing-tight: -0.125rem; 
  --letter-spacing-normal: 0;

  /* =========================
     Font Weights
     ========================= */

  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-normal: 400;

  /* =========================
     Fluid Spacing
     ========================= */

  --spacing-xxs: clamp(0.125rem, 0.5vw, 0.25rem);
  --spacing-xs: clamp(0.25rem, 1vw, 0.5rem);
  --spacing-sm: clamp(0.5rem, 1.5vw, 0.75rem);
  --spacing-md: clamp(0.75rem, 2vw, 1rem);
  --spacing-lg: clamp(1rem, 3vw, 1.5rem);
  --spacing-xl: clamp(1.5rem, 4vw, 2rem);
  --spacing-xxl: clamp(2rem, 5vw, 3rem);
  --spacing-xxxl: clamp(3rem, 6vw, 4rem);

  /* =========================
     Colors
     ========================= */

  --color-bg: #1B1D1C;
  --color-bg-2: #FFFFFF;
  --color-bg-3: #D4D3D9;

  --color-text: #FFFFFF;
  --color-text-secondary: #1B1D1C;
  --color-text-secondary-2: #D4D3D9;

  --color-accent: #EA7A18;
  --color-border: #FFFFFF;
   --filter: invert(0);

  /* Light mode overrides */


  /* =========================
     Fluid Border Radius
     ========================= */

  --radius-xxs: clamp(0.0625rem, 0.2vw, 0.125rem);
  --radius-xs: clamp(0.125rem, 0.5vw, 0.25rem);
  --radius-sm: clamp(0.25rem, 0.75vw, 0.5rem);
  --radius-md: clamp(0.5rem, 1vw, 0.75rem);
  --radius-lg: clamp(0.75rem, 1.5vw, 1rem);
  --radius-xl: clamp(1rem, 2vw, 1.5rem);
  --radius-xxl: clamp(1.5rem, 2.5vw, 2rem);
  --radius-round: 50%;
}

[data-theme="light"] {
  --color-bg: #ffffff;
  --color-bg-2: #1B1D1C;
  --color-bg-3: #D4D3D9;

  --color-text: #1B1D1C;
  --color-text-secondary: #FFFFFF;
  --color-text-secondary-2: #D4D3D9;

  --color-accent: #BB5B00;
  --color-border: #1B1D1C;

   --filter: invert(1);
}


/* Typography Classes */
/* =========================
   Typography Utilities
   ========================= */

.display {
  font-family: 'DM Sans', sans-serif;
  font-weight: var(--font-weight-semibold);
  font-style: italic;
  font-size: var(--font-size-display);
  line-height: var(--line-height-display);
  letter-spacing: var(--letter-spacing-tight);
}

.heading-1 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing-normal);
}

.heading-sm {
  font-family: 'DM Sans', sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-heading-sm);
  line-height: var(--line-height-heading-sm);
  letter-spacing: 0;
}


.body-lg {
  font-family: 'DM Sans', sans-serif;
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-body-lg);
  line-height: var(--line-height-body-lg);
  letter-spacing: var(--letter-spacing-normal);
}

.body-md {
  font-family: 'DM Sans', sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body-md);
  line-height: var(--line-height-body-md);
  letter-spacing: var(--letter-spacing-normal);
}

.body-sm {
  font-family: 'DM Sans', sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body-sm);
  line-height: var(--line-height-body-sm);
  letter-spacing: var(--letter-spacing-normal);
}

.caption {
  font-family: 'DM Sans', sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  letter-spacing: var(--letter-spacing-normal);
}

.caption-sm {
  font-family: 'DM Sans', sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-caption-sm);
  line-height: var(--line-height-caption);
  letter-spacing: var(--letter-spacing-normal);
}



/* || RESETS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.root{
  padding: 0;
}


body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  /* all: unset; */
  outline-color: transparent;

}


li{
list-style-type:none;
}

html {
  height: 100%;


}

body {
  width: 100%;
  min-height: 100vh;
/* height:100%*/
}


/*
  ===========
  LAYOUT
  ===========
  */


  #container{
    max-width: 1200px;
    width: 90%;
    min-height: 100vh;
    margin:  var(--spacing-xl) auto;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxxl);

    /* border: 2px solid red; */

  }

  body{
  /* border: 2px solid yellow; */
  background-color: var(--color-bg);
  color: var(--color-text);
   transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  /* padding: var(--spacing-lg); */
}

.loading-screen,.error-screen{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  gap:24px
}




.error-screen button{
  all:unset;
    padding: var(--spacing-sm);
    background-color: var(--color-bg-2);
    color: var(--color-text-secondary);
    text-align: center;
    width: 100%;


}

#content-container{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    margin-top:  var(--spacing-xxxl);
    gap: var(--spacing-xxl);
}

.top-layer{
    /* border: 2px solid ; */
    display: grid;
    grid-template-columns: repeat(2,45%);
    gap: var(--spacing-lg);
    justify-content: center;
}

.middle-layer{
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: column;
  padding: var(--spacing-lg);
  gap: var(--spacing-xl);
}

.bottom-layer{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}


 /*
===============
UTILITY CLASSES
===============
*/
.center{
  text-align: center;
}

.orange{
  color: var(--color-accent);
}

.fw-normal{
  font-weight: var(--font-weight-normal);
}

.flex{
  display: flex;
}

/*
=====================================
LARGE SCREENS 
=====================================
*/

/* * Extra small devices (phones, 600px and down) */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    #container{
    width: 85%;
    margin:  var(--spacing-xxl) auto;
  }
 

.top-layer{
    /* border: 2px solid ; */
    display: grid;
    grid-template-columns: repeat(4,minmax(150px,1fr));
    gap: var(--spacing-sm);
    justify-content: center;
}

.middle-layer{
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: column;
  padding: var(--spacing-lg);
  gap: var(--spacing-xl);
}

.bottom-layer{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
      #container{
    margin:  var(--spacing-xxxl) auto;
  }
 
}




